*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-image: url("./assets/wallpaper.png");
    background-size: cover;
    max-width: 100%;
    min-width: 360px;
    min-height: 100vh;
}
